<nav>
  <a href="https://github.com/DJamesCPCC/DJamesCPCC.github.io">Github</a> |
  <a href="https://djamescpcc.github.io/">Github.io</a> |
  <a href="https://www.codecademy.com/profiles/ddjamesCPCC">codeacademy</a> |
  <a href="https://www.freecodecamp.org/djamescpcc">freeCodeCamp</a> |
  <a href="https://jsfiddle.net/u/SlimeDev18/fiddles/">JSFiddle</a> |
  <a href="https://www.linkedin.com/in/david-james-b59937246/">LinkedIn</a>
</nav>
<script src="https://lint.page/kit/880bd5.js" crossorigin="anonymous"></script>
<p>Page build by SlimeDev Designs</p>
